{% extends "layout1.html" %}
{% block content %}

  <section id="intro1" >
  <div id="fh5co-hero-wrapper">
  <div class="container fh5co-hero-inner">
          <div class="text-container" >
                            <h2 style=" display: flex; justify-content: center; margin-top: 240px;">About Us</h2>
          </div>    
     <img class="arrow-object" src="{{ url_for('static', filename='img/background/arrow-object-white.svg') }}" style="width:139%; margin-left: -228px; margin-bottom: -327px;" alt="">

  </div>
  </div> 
  </section>

  <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Our Goal</h3>
          <p>At Alpha, we aim to simplyify the process of image classification so that users with no technical knowledge can also use Alpha and benefit from it. <br>
          We made this website so that users get the most compelling image processing experience possible. </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="{{ url_for('static', filename='img/about/mission.webp') }}" style="background: #c9faff;" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-stopwatch-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
              	To make the process of recognition of different objects in an Image very easy and user friendly. We also aim to simplify the process of creating Machine learning models, so that users with absolutely no knowledge can also start using machine learning.
                
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="{{ url_for('static', filename='img/about/plan.webp') }}" style="background: #fff;" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p>
                To maximize the user experirence while using our website by constantly improving the website and making it more user friendly. Our main goal is user satisfaction and so to achieve that we constantly work on adding more features to increase the user experience. 
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="{{ url_for('static', filename='img/about/vision.webp') }}" style="background: #c9faff;" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                 To give customers the most compelling image processing experience possible. Our vision is to simplify the process of using Machine learning so that users with no knowlegde can also start creating machine learning models.
              </p>
            </div>
          </div>

        </div>

   <div class="container">
        <div class="section-header wow fadeInUp" style="margin-top: 40px;">
          <h3>Our Team</h3>
          <p>Meet the brains behind Alpha</p>
        </div>

         <div class="row" style=" display: flex; justify-content: center;">

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/avatar.webp') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                 <h4>Nikhil Chouhan</h4>
                  <span>Developer</span>
                  <div class="social">
                    <a href="https://www.instagram.com/_nikhil__chouhan__/"><i class="fa fa-instagram"></i></a>
                    <a href="https://in.linkedin.com/in/nikhil-chouhan-5831321a1?trk=author_mini-profile_title"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/avatar1.webp') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                 <h4>Parthak Mehta</h4>
                  <span>Developer</span>
                  <div class="social">
                    <a href="https://www.instagram.com/parthakmehta/"><i class="fa fa-instagram"></i></a>
                    <a href="https://in.linkedin.com/in/parthak-mehta-36827b116?trk=author_mini-profile_title"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/avatar1.webp') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                 <h4>Rudra Makwana</h4>
                  <span>Developer</span>
                  <div class="social">
                    <a href="https://www.instagram.com/rudra.makwana01/"><i class="fa fa-instagram"></i></a>
                    <a href="https://in.linkedin.com/in/rudramakwana?trk=author_mini-profile_title"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
 </section>

 <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contact Us</h3>
           <p>Contact us if you want to discuss how we can help you improve your experience with the website or if you simply need someone to talk to.<br> 
          Your feedback is important and it helps us improve our website.
          </p>
        </div>

        <div class="row wow fadeInUp">

        <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.9490427543774!2d72.83535271470615!3d19.10989128706844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9b888ae67fd%3A0xe0b9538d623ac5d2!2sMukesh%20Patel%20School%20Of%20Technology%20Management%20%26%20Engineering!5e0!3m2!1sen!2sin!4v1598610479893!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p> MPSTME, Maharastra, India</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p><a href="mailto:contactalpha00@gmail.com">contactalpha00@gmail.com</a></p>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section>

{% endblock content %}
