{% extends "layout_employee.html" %}
{% block content %}

  <section id="intro1" style="  background: url({{ url_for('static', filename='img/background/sample-bg2.jpg') }});background-position: center;
  background-size: cover; background-repeat: no-repeat;">
  <div id="fh5co-hero-wrapper">
  <div class="container fh5co-hero-inner">
          <div class="text-container" >
                            <h2 style=" display: flex; justify-content: center; margin-top: 240px;">My Account</h2>
          </div>    
     <img class="arrow-object" src="{{ url_for('static', filename='img/background/arrow-object-white.svg') }}" style="width:139%; margin-left: -228px; margin-bottom: -327px;" alt="">

  </div>
  </div> 
  </section>

  <section id="account">
         <header class="section-header" style="margin-top: 60px;">
          <h3>Account Details</h3>
        </header>
                 <div class="col-lg-3" style="display: inline-block; margin-left: 200px; margin-top: 100px;">
                  <div class="member">
                    <img id="photo" class="img-fluid"  width="250px" height="250px" style="border-radius: 50%; width: 100%; height: 100%;">
                    <div class="member-info">
                      <div class="member-info-content">
                       <h4>Edit Picture</h4>
                        <div class="social">
                          <label for="files" class="btn" style="background:url(https://img.icons8.com/nolan/64/upload.png) no-repeat; background-size:100% 100%; font-size: 0px; width: 50px; height: 50px; display: block; cursor:pointer; margin-left: 26px;"></label>
                          <input id="files" style="display:none;" onchange="readURL(this);" type="file">
                        </div>
                       </div>
                      </div>
                   </div>
                 </div> 
             <div style="margin-top: -280px;">
                <div class="col-lg-4" style="display: inline-block; margin-left: 500px;">
                    <div class="text-container">
                        <h3 style="font-weight: bold; color: black;" >Fullname: </h3>
                        <p id="fullname" style="display: inline-block; font-weight: bold; font-size: 20px;"></p>
                        <input id="fullname_input" type="text" autocomplete="off" class="form-control " placeholder="Enter your Fullname" data-rule="minlen:4" data-msg="Please enter a valid name" style="display: none;  width: 250px;"/>
                        <a id="edit_btn1" href="javascript:;" onclick="edit('#fullname', '#fullname_input', '#edit_btn1','#save_btn1','#cancel_btn1')" title="Edit" style="display: inline-block; margin-left: 20px;">
                          <i class="ion ion-edit" style="font-size: 18px; color: black"></i>
                        </a>
                        <a id="save_btn1" href="javascript:;" onclick="save('#fullname', '#fullname_input', '#edit_btn1','#save_btn1','#cancel_btn1' , 'fullname')" title="Save" style="display: none; margin-left: 20px;">
                          <i class="ion ion-checkmark" style="font-size: 18px; color: green"></i>
                        </a>
                        <a id="cancel_btn1" href="javascript:;" onclick="cancel('#fullname', '#fullname_input', '#edit_btn1','#save_btn1','#cancel_btn1')" title="Cancel" style="display: none; margin-left: 20px;">
                          <i class="ion ion-close" style="font-size: 18px; color: red"></i>
                        </a>
                    </div> 
                </div> 
                <div class="col-lg-4" style="display: inline-block; margin-left: -65px;">
                     <div class="text-container">
                        <h3 style="font-weight: bold; color: black;" >Username: </h3>
                        <p id="username" style="display: inline-block; font-weight: bold; font-size: 20px;"></p>
                         <input id="username_input" type="text" autocomplete="off" class="form-control " placeholder="Enter your Username" data-rule="minlen:4" data-msg="Please enter a valid name" style="display: none;  width: 250px;"/>
                       <a id="edit_btn2" href="javascript:;" onclick="edit('#username', '#username_input', '#edit_btn2','#save_btn2','#cancel_btn2')" title="Edit" style="display: inline-block; margin-left: 20px;">
                          <i class="ion ion-edit" style="font-size: 18px; color: black"></i>
                        </a>
                        <a id="save_btn2" href="javascript:;" onclick="save('#username', '#username_input', '#edit_btn2','#save_btn2','#cancel_btn2', 'username')" title="Save" style="display: none; margin-left: 20px;">
                          <i class="ion ion-checkmark" style="font-size: 18px; color: green"></i>
                        </a>
                        <a id="cancel_btn2" href="javascript:;" onclick="cancel('#username', '#username_input', '#edit_btn2','#save_btn2','#cancel_btn2')" title="Cancel" style="display: none; margin-left: 20px;">
                          <i class="ion ion-close" style="font-size: 18px; color: red"></i>
                        </a>
                    </div> 
                </div> 
                 <div class="col-lg-4" style="display: inline-block;margin-left: 500px;">
                    <div class="text-container">
                        <h3 style="font-weight: bold; color: black; " >Email id: </h3>
                        <p id="email" style="display: inline-block; font-weight: bold; font-size: 20px;"></p>
                         <input id="email_input" type="text" autocomplete="off" class="form-control " placeholder="Enter your Email" data-rule="minlen:4" data-msg="Please enter a valid name" style="display: none;  width: 250px;"/>
                       <a id="edit_btn3" href="javascript:;" onclick="edit('#email', '#email_input', '#edit_btn3','#save_btn3','#cancel_btn3')" title="Edit" style="display: inline-block; margin-left: 20px;">
                          <i class="ion ion-edit" style="font-size: 18px; color: black"></i>
                        </a>
                        <a id="save_btn3" href="javascript:;" onclick="save('#email', '#email_input', '#edit_btn3','#save_btn3','#cancel_btn3' , 'email')" title="Save" style="display: none; margin-left: 20px;">
                          <i class="ion ion-checkmark" style="font-size: 18px; color: green"></i>
                        </a>
                        <a id="cancel_btn3" href="javascript:;" onclick="cancel('#email', '#email_input', '#edit_btn3','#save_btn3','#cancel_btn3')" title="Cancel" style="display: none; margin-left: 20px;">
                          <i class="ion ion-close" style="font-size: 18px; color: red"></i>
                        </a>
                    </div> 
                </div> 
                <div class="col-lg-4" style="display: inline-block; margin-left: -65px;">
                     <div class="text-container">
                        <h3 style="font-weight: bold; color: black;" >Phone number: </h3>
                        <p id="phoneno" style="display: inline-block; font-weight: bold; font-size: 20px;"></p>
                         <input id="phoneno_input" type="text" autocomplete="off" class="form-control " placeholder="Enter your Phone number" data-rule="minlen:4" data-msg="Please enter a valid name" style="display: none;  width: 250px;"/>
                       <a id="edit_btn4" href="javascript:;" onclick="edit('#phoneno', '#phoneno_input', '#edit_btn4','#save_btn4','#cancel_btn4')" title="Edit" style="display: inline-block; margin-left: 20px;">
                          <i class="ion ion-edit" style="font-size: 18px; color: black"></i>
                        </a>
                        <a id="save_btn4" href="javascript:;" onclick="save('#phoneno', '#phoneno_input', '#edit_btn4','#save_btn4','#cancel_btn4' , 'phoneno')" title="Save" style="display: none; margin-left: 20px;">
                          <i class="ion ion-checkmark" style="font-size: 18px; color: green"></i>
                        </a>
                        <a id="cancel_btn4" href="javascript:;" onclick="cancel('#phoneno', '#phoneno_input', '#edit_btn4','#save_btn4','#cancel_btn4')" title="Cancel" style="display: none; margin-left: 20px;">
                          <i class="ion ion-close" style="font-size: 18px; color: red"></i>
                        </a>
                    </div> 
                </div> 
                 <div class="col-lg-4" style="display: inline-block;margin-left: 500px;">
                    <div class="text-container">
                        <h3 style="font-weight: bold; color: black; " >Password: </h3>
                        <p id="password" style="display: inline-block; font-weight: bold; font-size: 20px;">********</p>
                         <input id="password_input" type="text" autocomplete="off" class="form-control " placeholder="Enter your Password" data-rule="minlen:4" data-msg="Please enter a valid name" style="display: none;  width: 250px;"/>
                       <a id="edit_btn5" href="javascript:;" onclick="edit('#password', '#password_input', '#edit_btn5','#save_btn5','#cancel_btn5')" title="Edit" style="display: inline-block; margin-left: 20px;">
                          <i class="ion ion-edit" style="font-size: 18px; color: black"></i>
                        </a>
                        <a id="save_btn5" href="javascript:;" onclick="save('#password', '#password_input', '#edit_btn5','#save_btn5','#cancel_btn5' , 'password')" title="Save" style="display: none; margin-left: 20px;">
                          <i class="ion ion-checkmark" style="font-size: 18px; color: green"></i>
                        </a>
                        <a id="cancel_btn5" href="javascript:;" onclick="cancel('#password', '#password_input', '#edit_btn5','#save_btn5','#cancel_btn5')" title="Cancel" style="display: none; margin-left: 20px;">
                          <i class="ion ion-close" style="font-size: 18px; color: red"></i>
                        </a>
                    </div> 
                </div> 
                   <div class="col-lg-4" style="display: inline-block; margin-left: -65px;">
                     <div class="text-container">
                        <h3 style="font-weight: bold; color: black;" >Provider: </h3>
                        <p id="provider" style="display: inline-block; font-weight: bold; font-size: 20px;"></p>
                    </div> 
                </div>
              </div>
              <div style="margin-bottom: 100px;"></div>
  </section>

  <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-storage.js"></script>

 <script type="text/javascript">

  const firebaseConfig1 = {
  apiKey: "AIzaSyCefdOrNcLzNnG9ElQxHyN0WLSyr6LVdRg",
  authDomain: "alpha-f5ab1.firebaseapp.com",
  databaseURL: "https://alpha-f5ab1.firebaseio.com",
  projectId: "alpha-f5ab1",
  storageBucket: "alpha-f5ab1.appspot.com",
  messagingSenderId: "25260251432",
  appId: "1:25260251432:web:da9ec42da68af8f423581d",
  measurementId: "G-FR4KENVXVN"
};

firebase.initializeApp(firebaseConfig1);
  const auth1 = firebase.auth();
  var database = firebase.database();
  var databaseRef = database.ref();
  var storage = firebase.storage();
  var firestore = firebase.firestore();
  var userRef;
  var user_uid;
  var user_var;

auth1.onAuthStateChanged(function(user) {
  if (user) {
      user_var = user;
     user.providerData.forEach(function (profile) {
  if(profile.providerId == 'password'){
    firebase.database().ref('users/' + user.uid).on('value', function(snapshot) {
        userRef = storage.ref('users/' + user.uid + '/profile_picture');

      if(snapshot.val().fullname){
         $( '#fullname' ).text(snapshot.val().fullname);
      }
      else{
          $( '#fullname' ).text('-----');
      }
      if(snapshot.val().username){
          $( '#username' ).text(snapshot.val().username);
      }
      else{
          $( '#username' ).text('-----');
      }
      if(snapshot.val().email){
         $( '#email' ).text(snapshot.val().email);
      }
      else{
          $( '#email' ).text('-----');
      }
      if(snapshot.val().phone_no){
         $( '#phoneno' ).text(snapshot.val().phone_no);
      }
      else{
          $( '#phoneno' ).text('-----');
      }
      if(snapshot.val().provider){
         $( '#provider' ).text(snapshot.val().provider);
      }
      else{
          $( '#provider' ).text('-----');
      }
      if(snapshot.val().profile_picture){
         $( '#photo' ).attr('src',snapshot.val().profile_picture);
      }
      else{
          $( '#photo' ).attr('src',"https://mir-s3-cdn-cf.behance.net/project_modules/disp/366be133850498.56ba69ac36858.png");
      }
     $( '#verified' ).text(user.emailVerified);
     $( '#uid' ).text(user.uid);
      user_uid = user.uid;
   });
  }
  else {
 firebase.database().ref('users/' + user.providerData[0].uid).on('value', function(snapshot) {
 if(snapshot.val().fullname){
        userRef = storage.ref('users/' + user.providerData[0].uid + '/profile_picture');

         $( '#fullname' ).text(snapshot.val().fullname);
      }
      else{
          $( '#fullname' ).text('-----');
      }
      if(snapshot.val().username){
          $( '#username' ).text(snapshot.val().username);
      }
      else{
          $( '#username' ).text('-----');
      }
      if(snapshot.val().email){
         $( '#email' ).text(snapshot.val().email);
      }
      else{
          $( '#email' ).text('-----');
      }
      if(snapshot.val().phone_no){
         $( '#phoneno' ).text(snapshot.val().phone_no);
      }
      else{
          $( '#phoneno' ).text('-----');
      }
      if(snapshot.val().provider){
         $( '#provider' ).text(snapshot.val().provider);
      }
      else{
          $( '#provider' ).text('-----');
      }
      if(snapshot.val().profile_picture){
         $( '#photo' ).attr('src',snapshot.val().profile_picture);
      }
      else{
          $( '#photo' ).attr('src',"https://mir-s3-cdn-cf.behance.net/project_modules/disp/366be133850498.56ba69ac36858.png");
      }
     $( '#uid' ).text(user.providerData[0].uid);
          user_uid = user.providerData[0].uid;

   });
     
     $('#edit_btn3').css('display' , 'none');
     $('#edit_btn5').css('display' , 'none');
  }
  });

  }
 else {
 // window.open ('{{ url_for('home') }}','_self',false);
  }
});

function readURL(input) {
       if (input.files && input.files[0]) {
           const image = new Image();
           var reader = new FileReader();

           reader.onload = function (e) {

           image.src = e.target.result;
           image.onload = () => {
               $( '#photo' ).attr('src',image.src);
                 var file = document.getElementById("files").files[0];
                 userRef = storage.ref('users/' + user_uid + '/profile_picture');
                 userRef.put(file).then(function() {
                       alert('Profile picture updated successfully!'); 
                       userRef.getDownloadURL().then(function(url) {
                       firebase.database().ref('users/' + user_uid + '/profile_picture').set(url);
                   }).catch(function(error) {
                  alert(error.message)
                 });        
                 }).catch(error => {
                       alert(error.message);      
                 });
                  
        };
      };
         reader.readAsDataURL(input.files[0]);
      }
  }

  var input_value;

  function edit(in_btn1, in_btn2, btn_ref1, btn_ref2, btn_ref3){
  $(in_btn1).css('display','none');
  $(in_btn2).css('display','inline-block');
  $(btn_ref1).css('display','none');
  $(btn_ref2).css('display','inline-block');
  $(btn_ref3).css('display','inline-block');
  }

  function save(in_btn1, in_btn2, btn_ref1, btn_ref2, btn_ref3, type_var){
    input_value = $(in_btn2).val();
    if(input_value){
          if(type_var == 'fullname') {
              firebase.database().ref('users/' + user_uid + '/fullname').set(input_value);
              alert('Full name Updated!');
          }
          if(type_var == 'username') {
              firebase.database().ref('users/' + user_uid + '/username').set(input_value);
              alert('Username Updated!');
          }
          if(type_var == 'email') {
            user_var.updateEmail(input_value).then(function() {
              $(in_btn1).text(input_value);
              alert('Email id Updated!');
              firebase.database().ref('users/' + user_uid + '/email').set(input_value);
           }).catch(function(error) {
             alert(error.message)
           })
          }
          if(type_var == 'phoneno') {
              firebase.database().ref('users/' + user_uid + '/phone_no').set(input_value);
              alert('Phone number Updated!');
          }
          if(type_var == 'password') {
              user_var.updatePassword(input_value).then(function() {
                alert('Password Updated!');
                firebase.database().ref('users/' + user_uid + '/password').set(input_value);
              }).catch(function(error) {
                  alert(error.message)
              });
          }

    }
    else {
    alert('Please enter text first');
    }
  $(in_btn1).css('display','inline-block');
  $(in_btn2).css('display','none');
  $(btn_ref1).css('display','inline-block');
  $(btn_ref2).css('display','none');
  $(btn_ref3).css('display','none');
  }

  function cancel(in_btn1, in_btn2, btn_ref1, btn_ref2, btn_ref3){
  $(in_btn1).css('display','inline-block');
  $(in_btn2).css('display','none');
  $(btn_ref1).css('display','inline-block');
  $(btn_ref2).css('display','none');
  $(btn_ref3).css('display','none');
  }

</script>

{% endblock content %}
