{% extends "layout2.html" %}
{% block content %}
  <section id="intro">
  <div id="fh5co-hero-wrapper">
  <div class="container fh5co-hero-inner">
          <div class="text-container" >
                            <h2> <span style="margin-left: 80px;">ML WEB APP</span> <br> <span style="margin-left: 40px;">FOR </span><span id="js-rotating">STUDENTS, DEVELOPERS, DESIGNERS</span></h2>
                            <a href="#" class="btn-get-started scrollto" style="margin-top: -30px; margin-bottom: 30px;">Get Started</a>
             </div>
            <div class="smartphone wow fadeIn" data-wow-delay="1s" ></div>
    
          </div>
  </div> 
  </section>

 <section id="key-features">
   <div id="features" style="margin-top: 80px;" class="section wb">
        <div class="container">
             <div class="col-lg-12" >
                     <header class="section-header">
                     <h3>Alpha</h3>
                     </header>
                    <p class="p-heading p-large" style="display: flex; justify-content: center;">At Alpha, we aim to simplyify the process of image classification so that users with no technical knowledge can also use Alpha and benefit from it.</p>
                </div> 

            <div id="default" class="row clearfix zenith_slider">
                  
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 left-row" style="margin-top: 80px;">
          <ul class="features-left">
            <li class="highlight lhgh" data-index="0">
              <i class="flaticon-happy effect-1" ></i>
              <div class="fl-inner">
                <h4>Face Recognition</h4>
                <p>Face recognition is a method of identifying or verifying the identity of an individual using their face.</p>
              </div>
            </li>

            <li class="highlight lhgh" data-index="1">
              <i class="flaticon-windows effect-1"></i>
              <div class="fl-inner">
                <h4>Object Detection</h4>
                <p>Object recognition is a computer vision technique for identifying objects in images or videos. </p>
              </div>
            </li>

            <li class="highlight lhgh" data-index="2">
              <i class="flaticon-new-file effect-1"></i>             
              <div class="fl-inner">
                <h4>Text Recognition</h4>
                <p>Text Recognition is a method to convert images of typed, handwritten or printed text into machine-encoded text.</p>
              </div>
            </li>
            
            <li class="highlight lhgh" data-index="3">
              <i class="flaticon-binoculars effect-1"></i>            
              <div class="fl-inner">
                <h4>Expression Detection</h4>
                <p>Expression Detection can be used to know whether a person is sad, happy, angry through his/her face.</p>
              </div>
            </li>
          </ul>
        </div>
        
        <div class="highlights-phone col-lg-4 col-md-4 col-sm-12 col-xs-12 wht">
          
          <div class="phone-holder" >
             <div class="hgh-linner hgi" data-index="0">
              <img src="{{ url_for('static', filename='img/features-img/2.png') }}" class="attachment-highlight wp-post-image" alt="screen" />    
            </div>
            <div class="hgh-linner hgi" data-index="1">
              <img src="{{ url_for('static', filename='img/features-img/3.png') }}" class="attachment-highlight wp-post-image" alt="screensdst" />    
            </div>
            <div class="hgh-linner hgi" data-index="2">
              <img src="{{ url_for('static', filename='img/features-img/4.png') }}" class="attachment-highlight wp-post-image" alt="screen_09" />    
            </div>
            <div class="hgh-rinner hgi" data-index="3">
              <img src="{{ url_for('static', filename='img/features-img/6.png') }}" class="attachment-highlight wp-post-image" alt="screen_07" />    
            </div>
            <div class="hgh-rinner hgi" data-index="4">
              <img src="{{ url_for('static', filename='img/features-img/5.png') }}" class="attachment-highlight wp-post-image" alt="screen_08" />    
            </div>
            <div class="hgh-rinner hgi" data-index="5">
              <img src="{{ url_for('static', filename='img/features-img/7.png') }}" class="attachment-highlight wp-post-image" alt="screen_06" />    
            </div>
            <div class="hgh-rinner hgi" data-index="6">
              <img src="{{ url_for('static', filename='img/features-img/8.png') }}" class="attachment-highlight wp-post-image" alt="screen_06" />    
            </div>
            <div class="hgh-rinner hgi" data-index="7">
              <img src="{{ url_for('static', filename='img/features-img/1.png') }}" class="attachment-highlight wp-post-image" alt="screen_06" />    
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 right-row" style="margin-top: 80px;">
          <ul class="features-right">
            <li class="highlight rhgh" data-index="4">
              <i class="flaticon-line-graph effect-1"></i>              
              <div class="fr-inner">
                <h4>Air-Canvas</h4>
                <p>Air Canvas is a hands-free digital drawing canvas on which you can draw anything on.</p>
              </div>
            </li>
            <li class="highlight rhgh" data-index="5">
              <i class="flaticon-pantone effect-1"></i>
              <div class="fr-inner">
                <h4>Face Unlock</h4>
                <p>Face Unlock is a technology capable of identifying or verifying a person from an image or a video.</p>
              </div>
            </li>
            <li class="highlight rhgh" data-index="6">
              <i class="flaticon-coding effect-1"></i>
              <div class="fr-inner">
                <h4>Train ML models</h4>
                <p>Build, train and deploy ML models easily using Alpha's comprehensive, flexible ecosystem of tools.</p>
              </div>
            </li>
            <li class="highlight rhgh" data-index="7">
              <i class="flaticon-cloud-computing effect-1"></i>
              <div class="fr-inner">
                <h4>Cloud Storage</h4>
                <p>Store all your recognized images and trained models on our cloud storage.</p>
              </div>
            </li>
          </ul>
        </div>
        
      </div>
        </div>
    </div>

  <div class="about" >
     <header class="section-header" style="margin-top: -150px;">
          <h3>About Alpha</h3>
        </header>

    <div class="basic-1" style="margin-top: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/alpha/mockup.png') }}" alt="alternative">
                </div> 
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2 >What is Alpha?</h2>
                        <p >Alpha is an image detection and classification application. It can classify multiple categories of objects present in an image. Alpha aims to simplify the process of image classification with its friendly and astounding user interface. It has a comprehensive and flexible ecosystem of tools and resources that lets users easily build and deploy ML powered applications.<br><br> Alpha allows users to detect/classify images with just a click of a button. Alpha also provides features like cloud storage for storing the images with its recognized text and also has an option to convert text to speech.  </p>
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 

    <div class="basic-2" style="margin-top: 30px;">
        <div class="second">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container" >
                        <h2>How does Alpha work?</h2>
                        <p> Alpha uses machine vision technologies with artificial intelligence and trained algorithms to recognize images through a camera system. We use highly trained algorithms which allows Alpha to reduce the time for image classification so that the user will be able to do to image classification in the blink of an eye.<br><br> When a user submits an image for image processing, the image is then sent to our trained Machine Learning model which classifies all the objects in the image and shows the output on the user screen. </p>
                        </div> 
                    </div> 
                    <div class="col-lg-6">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/alpha/mockup4.png') }}" style="margin-top: -70px;" alt="alternative">
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
    </div>

  <div id="fh5co-features" class="fh5co-features-outer" style="margin-top: 50px;">
     <header class="section-header" style="margin-top: 50px;">
          <h3>Key Features</h3>
        </header>

    <div class="container">

      <div class="row fh5co-features-grid-columns">

        <div class="col-sm-6 in-order-1 wow animated fadeInLeft" data-wow-delay="0.22s">
          <div class="col-sm-image-container">
            <img class="img-float-left" src="{{ url_for('static', filename='img/alpha-features/iphone_1.png') }}" alt="smartphone-1">
          </div>
        </div>
        <div class="col-sm-6 in-order-2 sm-6-content wow animated fadeInRight" data-wow-delay="0.22s">
          <h1>Face and Expression Recognition</h1>
          <p>Face recognition is a method of identifying or verifying the identity of an individual using their face and facial expression recognition is a method of classifying the expressions on face images into various categories such as anger, fear, surprise, sadness, happiness and so on. Use Alpha's Face and Expression Recognition tool to identify and verify humans and human expressions like happy, sad and angry in photos, video, or in real-time. </p>
          <span class="circle circle-first"><i class="flaticon-happy"></i></span>
          <span class="circle circle-middle"><i class="flaticon-binoculars"></i></span>
          <span class="circle circle-last"><i class="flaticon-cloud-computing"></i></span>
        </div>

        <div class="col-sm-6 in-order-3 sm-6-content wow animated fadeInLeft" data-wow-delay="0.22s" >
          <h1>Build Machine Learning Models</h1>
          <p>Machine Learning is the science of getting computers to learn and act like humans do, and improve their learning over time in autonomous fashion, by feeding them data and information in the form of observations and real-world interactions. Machine learning is enabling computers to tackle tasks that have, until now, only been carried out by people. Use ALpha's ML Model Building tool to build, train and deploy ML models easily using Alpha's comprehensive, flexible ecosystem of tools and resources.</p>
          <span class="circle circle-first"><i class="flaticon-coding"></i></span>
          <span class="circle circle-middle">ML</span>
          <span class="circle circle-last"><i class="flaticon-line-graph"></i></span>
        </div>

        <div class="col-sm-6 in-order-4  wow animated fadeInRight" data-wow-delay="0.22s">
          <img class="img-float-right" src="{{ url_for('static', filename='img/alpha-features/iphone_7.png') }}" style="margin-left: 200px;" alt="smartphone-2">
        </div>

        <div class="col-sm-6 in-order-2 wow animated fadeInLeft" data-wow-delay="0.22s">
          <div class="col-sm-image-container">
            <img class="img-float-left" src="{{ url_for('static', filename='img/alpha-features/iphone_8.png') }}" alt="smartphone-3">
          </div>
        </div>

        <div class="col-sm-6 in-order-4 sm-6-content wow animated fadeInRight" data-wow-delay="0.22s">
          <h1>Face Unlock</h1>
          <p>Face unlock is a facial recognition feature provided by Alpha that enables you to login to your account using your face instead of a password or fingerprint. The operation is faster and more convenient. A facial recognition system uses biometrics to map facial features from a photograph or video. It compares the information with a database of known faces to find a match. Use Alpha's Face Unlock to add a extra layer of security on your favourite websites.</p>
        </div>
      </div> 
    </div>
  </div>
</section>

<section id="how_to_add">
 <div class="how-its-work clearfix" style="margin-top: 100px;">
       <header class="section-header" >
          <h3>Add to Home Screen</h3>
        </header>
        <div class="hc colon1" style="background-color: #1881d2; margin-top: 30px;">
            <h2>1</h2>
            <h3>Go to www.alpha.com</h3>
            <p class="lead">Go to your preferred web browser and write www.alpha.com in the search box.</p>
        </div>

        <div class="hc colon2" style="background-color: #40e0ee; margin-top: 30px;">
            <h2>2</h2>
            <h3>Create an Account</h3>
            <p class="lead">After the website loads, login with your credintials if already registered otherwise create a new account.</p>
        </div>

        <div class="hc colon3" style="background-color: #1881d2; margin-top: 30px;">
            <h2>3</h2>
            <h3>Click add to Home screen</h3>
            <p class="lead">After creating an account click on the add to home screen button to add the webiste as a desktop application.</p>
        </div>

        <div class="hc colon4" style="background-color: #40e0ee; margin-top: 30px;">
            <h2>4</h2>
            <h3>Enjoy on any Platform</h3>
            <p class="lead">Now Enjoy Alpha on any platform like Android, IOS, Windows and Mac.</p>
        </div>
    </div>
  </section>

    <section id="portfolio" class="clearfix" style="margin-top: 100px;">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Explore</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Tensorflow</li>
              <li data-filter=".filter-card">Modules</li>
              <li data-filter=".filter-web">External</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://images.deepai.org/glossary-terms/5142bdf22de24169bda948b961bfce99/download.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Addition RNN</a></h4>
                <div>
                  <a href="{{ url_for('addition_rnn') }}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="https://miro.medium.com/max/707/1*QwkT4zJ7lnVx6HE2cMQeNA.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">The Infinite Drum Machine</a></h4>
                <div>
                  <a href="{{ url_for('drum_machine') }}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="https://miro.medium.com/max/1316/1*qk1CjE4hByBnxicPu_7wTw.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Text Generation</a></h4>
                <div>
                  <a href="{{ url_for('text_generation') }}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://www.topbots.com/wp-content/uploads/2019/12/cover_transfer_learning_1600px_web.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Transfer Learning</a></h4>
                <div>
                  <a href="{{ url_for('transfer_learning') }}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="https://miro.medium.com/max/2400/0*pQ35i6IpXGqfCjCo.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Quick, Draw!</a></h4>
                <div>
                  <a href="{{ url_for('quick_draw') }}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="https://miro.medium.com/max/1200/1*2uGt_aWJoBjqF2qTzRc2JQ.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Iris Demo</a></h4>
                <div>
                  <a href="{{ url_for('iris_demo') }}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://mk0ecommercefas531pc.kinstacdn.com/wp-content/uploads/2019/12/sentiment-analysis.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Sentiment Analysis</a></h4>
                <div>
                  <a href="{{ url_for('sentiment_analysis') }}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="https://miro.medium.com/max/372/1*AO2rIhzRYzFVQlFLx9DM9A.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Digit Recognizer</a></h4>
                <div>
                  <a href="{{ url_for('digit_recognizer') }}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="https://srirangatarun.files.wordpress.com/2016/12/screen-shot-2019-06-19-at-12.45.40-pm.png?w=816" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Neural Network Playground</a></h4>
                <div>
                  <a href="{{ url_for('nn_playground') }}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

   <section id="pricing" class="wow fadeInUp" >
 <div class="cards-2" >
        <div class="container">
            <div class="row" style="margin-top:50px; margin-bottom: 10px;">
                <div class="col-lg-12">
                      <header class="section-header">
                         <h3 class="section-title" style="color: black; display: flex; justify-content: center;">Pricing Options</h3>
                      </header>
                    <p class="p-heading p-large">We've prepared pricing plans for all budgets so you can get started right away. They're great for individuals and small businesses</p>
                </div> 
            </div> 
            <div class="row" style=" display: flex; justify-content: center; align-items: center;">

                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">STANDARD</div>
                            <div class="card-subtitle">Higher capacity and more features.</div>
                            <hr class="cell-divide-hr">
                            <div class="price">
                                <span class="currency">₹</span><span class="value">299</span>
                                <div class="frequency">yearly</div>
                            </div>
                            <hr class="cell-divide-hr">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>All</strong> Image processing tools</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>50</strong> scans per month</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>Advanced</strong> User Interface</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>Ads</strong> free</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body">Train <strong>10</strong> Machine Learning models per month</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body">Get <strong>.h5</strong> file of your trained ML model</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-times" style="color: #ff5959"></i><div class="media-body">Get a <strong>website</strong> for your ML model</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg popup-with-move-anim" data-toggle="modal" href="" data-target="#signup">GET STARTED</a>
                            </div>
                        </div>
                    </div> 
                    <div class="card">
                        <div class="label">
                            <p class="best-value">Best Value</p>
                        </div>
                        <div class="card-body">
                            <div class="card-title">PREMIUM</div>
                            <div class="card-subtitle">No limits and additional features.</div>
                            <hr class="cell-divide-hr">
                            <div class="price">
                                <span class="currency">₹</span><span class="value">599</span>
                                <div class="frequency">yearly</div>
                            </div>
                            <hr class="cell-divide-hr">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>All</strong> Image processing tools</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>Unlimited</strong> scans</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>Advanced</strong> User Interface</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>Ads</strong> free</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body">Train <strong>Unlimited</strong> Machine Learning models</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body">Get a <strong>website</strong> for your ML model with 2 UI design to choose from</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-times" style="color: #ff5959"></i><div class="media-body">Get a <strong>custom website</strong></div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg popup-with-move-anim" href="javascript:;" onclick="order()" >GET STARTED</a>
                            </div>
                        </div>

                     </div> 
                      <div class="card">
                        <div class="card-body">
                            <div class="card-title" >ENTERPRISE</div>
                            <div class="card-subtitle">For small businesses or students.</div>
                            <hr class="cell-divide-hr">
                            <div class="price">
                                <span class="value" >Custom</span>
                                <div class="frequency">yearly</div>
                            </div>
                            <hr class="cell-divide-hr">
                             <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>All</strong> Image processing tools</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>Unlimited</strong> scans</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>Premium</strong> User Interface for Enterprise accounts</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>Ads</strong> free</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body">Train <strong>Unlimited</strong> Machine Learning models</div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body">Get a <strong>custom website</strong>  made for your ML model</div>
                                </li>
                                 <li class="media">
                                    <i class="fa fa-check" style="color: #1881d2"></i><div class="media-body"><strong>24/7</strong> Tech support</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg popup-with-move-anim" data-dismiss="modal" data-toggle="modal" href="" data-target="#enterprise">GET IN TOUCH</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
      </div>

<!--<f:entry>
    <iframe width="700" height="600" src="http://localhost:8888/tree?"> </iframe>
</f:entry>-->

 <!--<div class="modal fade" data-keyboard="false" data-backdrop="static" id="enterprise">
  <div class="modal-dialog modal-dialog-centered" role="document">
 <div class="modal-content modal-popout-bg">
  <div class="modal-header" style="display:none"></div>
  <div class="modal-body">

      <button title="Close (Esc)" type="button" class="mfp-close x-button" style="color: #fff" data-dismiss="modal">×</button>

      <div class="col-lg-8">
        
    <div id="request" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Fill The Following Form To Request A Meeting</h2>
                        <p>Evolo is one of the easiest and feature packed marketing automation apps in the market. Discover what it can do for your business organization right away.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Automate your marketing</strong> activities and get results today</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Interact with all your</strong> targeted customers at a personal level</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Convince them to buy</strong> your company's awesome products</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body"><strong class="blue">Save precious time</strong> and invest it where you need it the most</div>
                            </li>
                        </ul>
                    </div> 
                </div>
                <div class="col-lg-6">

                    <div class="form-container">
                        <form id="requestForm" data-toggle="validator" data-focus="false">
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="rname" name="rname" required>
                                <label class="label-control" for="rname">Full name</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="remail" name="remail" required>
                                <label class="label-control" for="remail">Email</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="rphone" name="rphone" required>
                                <label class="label-control" for="rphone">Phone</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group checkbox">
                                <input type="checkbox" id="rterms" value="Agreed-to-Terms" name="rterms" required>I agree with Evolo's stated <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms & Conditions</a>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">REQUEST</button>
                            </div>
                            <div class="form-message">
                                <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                    </div> 

                </div> 
            </div> 
        </div> 
    </div> -->

      </div>

      <div class="modal-footer" style="display:none"></div>
    </div> 
  </div>
 </div>
</div>
</section>

     <section id="preview">
     <div class="basic-3" >
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 wow fadeInUp">
                      <header class="section-header">
                     <h3>Preview</h3>
                     </header>
                    <p class="p-heading p-large">This video will show you a preview of <strong>Alpha</strong> and it will also help you understand how to use Alpha</p>
                </div> 
            </div> 
            <div class="row">
                <div class="col-lg-12 wow fadeInUp">
                    
                    <div class="image-container">
                        <div class="video-wrapper" style=" display: flex; justify-content: center;">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=EEvopkbc4FE" data-effect="fadeIn">
                                <img class="img-fluid" src="{{ url_for('static', filename='img/background/thumbnail.webp') }}" height="800px" width="800px"  alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> 
                    </div> 

                </div> 
            </div> 
        </div> 
    </div> 
  </section> 

   <section id="screenshots">
    <div class="slider-2">
        <div class="container">
                  <header class="section-header" >
                     <h3>Screenshots</h3>
                     </header>

            <div class="row" style="margin-top: 50px;">
                <div class="col-lg-12">
                    
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                
                                <div class="swiper-slide" >
                                    <a href="{{ url_for('static', filename='img/alpha-features/iphone_1.png') }}" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{ url_for('static', filename='img/alpha-features/iphone_1.png') }}" alt="alternative">
                                    </a>
                                </div>
                                
                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/alpha-features/iphone_2.png') }}" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{ url_for('static', filename='img/alpha-features/iphone_2.png') }}" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/alpha-features/iphone_3.png') }}" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{ url_for('static', filename='img/alpha-features/iphone_3.png') }}" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/alpha-features/iphone_4.png') }}" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{ url_for('static', filename='img/alpha-features/iphone_4.png') }}" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/alpha-features/iphone_5.png') }}" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{ url_for('static', filename='img/alpha-features/iphone_5.png') }}" alt="alternative">
                                    </a>
                                </div>
                                
                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/alpha-features/iphone_6.png') }}" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{ url_for('static', filename='img/alpha-features/iphone_6.png') }}" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/alpha-features/iphone_7.png') }}" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{ url_for('static', filename='img/alpha-features/iphone_7.png') }}" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/alpha-features/iphone_8.png') }}" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{ url_for('static', filename='img/alpha-features/iphone_8.png') }}" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/alpha-features/iphone_9.png') }}" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{ url_for('static', filename='img/alpha-features/iphone_9.png') }}" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="{{ url_for('static', filename='img/alpha-features/iphone_10.png') }}" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="{{ url_for('static', filename='img/alpha-features/iphone_10.png') }}" alt="alternative">
                                    </a>
                                </div>
                                
                            </div> 

                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>

                        </div> 
                    </div> 
                  
                </div> 
            </div> 
        </div> 
    </div>
  </section>


   <section id="add_home_screen">
    <div id="fh5co-download" class="fh5co-bottom-outer">
     <div class="row" style="margin-top: 180px;  display: flex;">
                <div class="col-md-7 col-sm-12" style="margin-left: 150px; flex: 0 0 55%;">
                    <div class="customwidget text-left">
                        <h1><strong>Add to Home Screen</strong></h1>
                        <p>Alpha can be installed on your device’s home screen, making it readily available. Alpha works on any device and enhance progressively, taking advantage of any features available on the user’s device and browser. It also works in areas with low connectivity or offline</p>
                        <!--<a class="add_btn">Add to Home Screen</a>-->
                        <button class="add-button">Add to Home Screen</button>
                    </div>
                </div>
                <div class="col-md-6 iphones hidden-sm" style="flex: 5;">
                    <div class="text-center move image-center hidden-sm hidden-xs">
                        <img src="{{ url_for('static', filename='img/alpha/Mockup1.png') }}" alt="" class="img-fluid wow fadeInUp" style="margin-top:-30px; width: 100%; height: 320px;">
                    </div>
                </div>
        </div>
     </div>
  </section>

  <script type="text/javascript" src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script >

function  order() {
window.open("https://pages.razorpay.com/pl_FtECVKeZ8f0Iji/view", "myWindow", 'width=800,height=700');
}

let deferredPrompt;
const addBtn = document.querySelector('.add-button');

window.addEventListener('beforeinstallprompt', (e) => {
  // Prevent Chrome 67 and earlier from automatically showing the prompt
  e.preventDefault();
  // Stash the event so it can be triggered later.
  deferredPrompt = e;
  // Update UI to notify the user they can add to home screen

  addBtn.addEventListener('click', (e) => {
    // hide our user interface that shows our A2HS button
    // Show the prompt
    deferredPrompt.prompt();
    // Wait for the user to respond to the prompt
    deferredPrompt.userChoice.then((choiceResult) => {
        if (choiceResult.outcome === 'accepted') {
          console.log('User accepted the A2HS prompt');
        } else {
          console.log('User dismissed the A2HS prompt');
        }
        deferredPrompt = null;
      });
  });
});

  </script>

 {% endblock content %}