{% extends "layout.html" %}

{% block main_content %}

  <link href="{{ url_for('static', filename='css/style1.css') }}" rel="stylesheet"> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/qna"> </script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@1.0.0"> </script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"> </script>

     <header id="header">
    <div class="container-fluid">
      <nav id="nav-menu-container">

        <ul class="nav-menu1">
     {% if 'home1' in request.path %}          
	      <li class="menu-active"><a href="{{ url_for('home1') }}">Home</a></li>
                <li class="menu1">
                {% if 'home1' in request.path %}
                  <a href="#key-features">Features</a></li>
                {% else %}
                  <a href="{{ url_for('home1') }}#key-features">Features</a></li>
                {% endif %}
                <li class="menu1">
                {% if 'home1' in request.path %}
                  <a href="#preview">How to use</a></li>
                {% else %}
                  <a href="{{ url_for('home1') }}#preview">How to use</a></li>
                {% endif %}
        </ul> 
     {% else %}
            <li class="menu"><a href="{{ url_for('home1') }}">Home</a></li>
                <li class="menu1">
                {% if 'home1' in request.path %}
                  <a href="#key-features">Features</a></li>
                {% else %}
                  <a href="{{ url_for('home1') }}#key-features">Features</a></li>
                {% endif %}
                <li class="menu1">
                {% if 'home1' in request.path %}
                  <a href="#preview">How to use</a></li>
                {% else %}
                  <a href="{{ url_for('home1') }}#preview">How to use</a></li>
                {% endif %}
        </ul> 
     {% endif %}

         <div id="logo" data-toggle="modal" href="" data-target="#dashboard" >
         <img id="logo-img" src="{{ url_for('static', filename='img/favicons/bot2.webp') }}" alt=""></div>

        <ul class="nav-menu2"> 
          {% if 'about' in request.path %}          
                <li class="menu-active"><a href="{{ url_for('about') }}">About Us</a></li>
          {% else %}
                <li><a href="{{ url_for('about') }}">About Us</a></li>
          {% endif %}

          {% if 'account' in request.path %}          
                <li class="menu-active"><a href="{{ url_for('account') }}">Account</a></li>
          {% else %}
                <li><a href="{{ url_for('account') }}">Account</a></li>
          {% endif %}
                <li class="drop-down"><a href="#">More</a>
                <ul>
                <li><a href="{{ url_for('terms1') }}">Terms of Service</a></li>
                <li><a href="{{ url_for('privacy1') }}">Privacy Policy</a></li>
                <li class="drop-down"><a href="#">Alpha Premium</a>
                <ul>
                  <li><a href="{{ url_for('home1') }}#pricing">Standard</a></li>
                  <li><a href="{{ url_for('home1') }}#pricing">Premium</a></li>
                  <li><a href="{{ url_for('home1') }}#pricing">Enterprise</a></li>
                </ul>
                </li>
                <li><a href="{{ url_for('help1') }}">Help Center</a></li>
                <li><a href="javascript:;" onclick="delete_acc()">Delete Account</a></li>
                <li><a href="javascript:;" onclick="signout()">Log Out</a></li>
                </ul>
                </li>
         
         </ul>
        </nav>
      </div>
    </header>

  <main id="main">

  	<section class="dropdown-section">
  		<div class="modal fade ds" id="dashboard" >
  <div class="modal-dialog modal-dialog-centered" style="max-width: 80%; " role="document">
 <div class="modal-content modal-popout-bg " >
  <div class="modal-body" >
 
    <div style="display: flex; align-items: center; justify-content: center; padding-right: 25px;">
       <dl class="list image_process" id="list1">
            <dt><a href="" id="header1" data-toggle="modal-delay" data-target="#element-modal1">Image Processing</a></dt>
            <dd><a href="" id="element-i1" data-toggle="modal-delay" data-target="#element-modal1">Face Recognition</a></dd>
            <dd><a href="" id="element-i2" data-toggle="modal-delay" data-target="#element-modal1">Object Detection</a></dd>
            <dd><a href="" id="element-i3" data-toggle="modal-delay" data-target="#element-modal1">Age & Gender Detection</a></dd>
            <dd><a href="" id="element-i4" data-toggle="modal-delay" data-target="#element-modal1">Expression Detection</a></dd>
            <dd><a href="" id="element-i5" data-toggle="modal-delay" data-target="#element-modal1">Image Styling</a></dd>            
        </dl>

        <dl class="list ml_models" id="list2">
            <dt><a href="" id="header2" data-toggle="modal-delay" data-target="#element-modal2">ML Models</a></dt>
            <dd><a href="" id="element-m1" data-toggle="modal-delay" data-target="#element-modal2">Hands Up/Down</a></dd>
            <dd><a href="" id="element-m2" data-toggle="modal-delay" data-target="#element-modal2">Sunglasses On/Off</a></dd>
            <dd><a href="" id="element-m3" data-toggle="modal-delay" data-target="#element-modal2">Model Training</a></dd>
            <dd><a href="" id="element-m4" data-toggle="modal-delay" data-target="#element-modal2">Model Testing</a></dd>
            <dd><a href="" id="element-m5" data-toggle="modal-delay" data-target="#element-modal2">Forum</a></dd>                            
        </dl>

        <dl class="list additional" id="list3">
            <dt><a href="" id="header3" data-toggle="modal-delay" data-target="#element-modal3">Additional tools</a></dt>
            <dd><a href="" id="element-a1" data-toggle="modal-delay" data-target="#element-modal3">Air-Canvas</a></dd>
            <dd><a href="" id="element-a2" data-toggle="modal-delay" data-target="#element-modal3">Reference to Context</a></dd>
            <dd><a href="" id="element-a3" data-toggle="modal-delay" data-target="#element-modal3">Face Unlock</a></dd>
            <dd><a href="" id="element-a4" data-toggle="modal-delay" data-target="#element-modal3">Learn & Code</a></dd>
            <dd><a href="" id="element-a5" data-toggle="modal-delay" data-target="#element-modal3">Picture to Potrait</a></dd>  
        </dl>
  </div>
</div>
    </div>
  </div>
 </div>

  <div class="modal fade ml1" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static" id="element-modal1">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 60%; " role="document">
  <div class="modal-content modal-popout-bg " >
  <div class="modal-body">

  <button title="Close (Esc)" type="button" class="mfp-close x-button" id="close_info1" style="color: #fff; margin-top: -40px; font-size: 40px; vertical-align: top; " data-dismiss="modal">×</button>

       <div class="basic-1" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2 id="element-htext1" style="color: white;"></h2>
                        <p id="element-p1text1" style="color: white;"></p>
                        <p id="element-p2text1" style="color: white;"></p>
                        <a href="" class="add_btn" id="use_btn1">Start Using</a>
                    </div> 
                </div> 
                <div class="col-lg-6">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/alpha/mockup1.png') }}" alt="alternative">
                </div> 
            </div> 
        </div> 
    </div> 

  </div>
  </div>
  </div>
  </div>

    <div class="modal fade ml2" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static" id="element-modal2">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 60%; " role="document">
  <div class="modal-content modal-popout-bg " >
  <div class="modal-body">

  <button title="Close (Esc)" type="button" class="mfp-close x-button" id="close_info2" style="color: #fff; margin-top: -40px; font-size: 40px; vertical-align: top; " data-dismiss="modal">×</button>

         <div class="basic-1" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2 id="element-htext2" style="color: white;"></h2>
                        <p id="element-p1text2" style="color: white;"></p>
                        <p id="element-p2text2" style="color: white;"></p>
                        <a href="" class="add_btn" id="use_btn2">Start Using</a>
                    </div> 
                </div> 
                <div class="col-lg-6">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/alpha/mockup1.png') }}" alt="alternative">
                </div> 
            </div> 
        </div> 
    </div> 

  </div>
  </div>
  </div>
  </div>

    <div class="modal fade ml3" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static" id="element-modal3">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 60%; margin-right: 250px;" role="document">
  <div class="modal-content modal-popout-bg " >
  <div class="modal-body" >

  <button title="Close (Esc)" type="button" class="mfp-close x-button" id="close_info3" style="color: #fff; margin-top: -40px; font-size: 40px; vertical-align: top; " data-dismiss="modal">×</button>

      <div class="basic-1" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2 id="element-htext3" style="color: white;"></h2>
                        <p id="element-p1text3" style="color: white;"></p>
                        <p id="element-p2text3" style="color: white;"></p>
                        <a href="" class="add_btn" id="use_btn3">Start Using</a>
                    </div> 
                </div> 
                <div class="col-lg-6">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/alpha/mockup1.png') }}" alt="alternative">
                </div> 
            </div> 
        </div> 
    </div> 

  </div>
  </div>
  </div>
  </div>

    </section> 

      {% block content %}{% endblock %}

  </main>

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Alpha</h3>
            <p>Alpha is an image detection and classification application. It can classify multiple categories of objects present in an image. It uses machine vision technologies with artificial intelligence and trained algorithms to recognize images through a camera system. Alpha aims to simplify the process of image classification with its friendly and astounding user interface. </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="{{ url_for('about') }}">About Us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{{ url_for('help1') }}">Help Center</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{{ url_for('terms1') }}">Terms of service</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{{ url_for('privacy1') }}">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Mukesh Patel School Of Technology Management & Engineering <br>
              Vile Parle , Mumbai<br>
              Maharashtra 400056 <br>
              India <br>
              <strong>Email:</strong> contactalpha00@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/TeamAlp38787472" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/parthak.mehta.94" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/contact_team_alpha/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/team-alpha-b4793b1b4/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter so you can be the first to find out the latest news and tips about Alpha, as well as general updates throughout the year.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Alpha</strong>. All Rights Reserved
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <script type="text/javascript">

  var _containerHeight = 1000;
var _width, _height, _scrollHeight;
var letters = document.getElementsByTagName('span');
var _movingElements = [];

var pre = prefix();
var _jsPrefix  = pre.lowercase;

var _positions = [
  {
    name: 'smartphone', 
    start: {
      percent: 0.8, x: 0.1, y: 0.005
    },
    end: {
      percent: 2, x: -0.115, y: 0.76
    }
  }
]

resize();
initMovingElements();

function initMovingElements() {
  for (var i = 0; i < _positions.length; i++) {
    _positions[i].diff1 = {
      percent: _positions[i].end.percent - _positions[i].start.percent,
      x: _positions[i].end.x - _positions[i].start.x,
      y: _positions[i].end.y - _positions[i].start.y,
    }
    var el = document.getElementsByClassName(_positions[i].name)[0];
    _movingElements.push(el);
  }
}

function resize() {
  _width = window.innerWidth;
  _height = window.innerHeight;
  _scrollHeight = _containerHeight-_height;
}

function updateElements() {
  for (var i = 0; i < _movingElements.length; i++) {
    var p = _positions[i];
    if(_scrollPercent <= p.start.percent) {
      _movingElements[i].style[_jsPrefix+'Transform'] = 'translate3d('+(p.start.x*_width)+'px, '+(p.start.y*_containerHeight)+'px, 0px)';
    } 

    else if(_scrollPercent >= p.end.percent) {
      _movingElements[i].style[_jsPrefix+'Transform'] = 'translate3d('+(p.end.x*_width)+'px, '+(p.end.y*_containerHeight)+'px, 0px)';
    } 

    else {
      _movingElements[i].style[_jsPrefix+'Transform'] = 'translate3d('+(p.start.x*_width + (p.diff1.x*(_scrollPercent-p.start.percent)/p.diff1.percent*_width))+'px, '+
        (p.start.y*_containerHeight + (p.diff1.y*(_scrollPercent-p.start.percent)/p.diff1.percent*_containerHeight))+'px, 0px)';
    }
  }
}



function loop() {
  _scrollOffset = window.pageYOffset || window.scrollTop;
  _scrollPercent = _scrollOffset/_scrollHeight || 0;

  updateElements();
  
  requestAnimationFrame(loop);
}

loop();

window.addEventListener('resize', resize);


function prefix() {
  var styles = window.getComputedStyle(document.documentElement, ''),
    pre = (Array.prototype.slice
      .call(styles)
      .join('') 
      .match(/-(moz|webkit|ms)-/) || (styles.OLink === '' && ['', 'o'])
    )[1],
    dom = ('WebKit|Moz|MS|O').match(new RegExp('(' + pre + ')', 'i'))[1];
  return {
    dom: dom,
    lowercase: pre,
    css: '-' + pre + '-',
  };
}

</script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/hoverIntent.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/superfish.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/touchSwipe/jquery.touchSwipe.min.js') }}"></script>

  <script src="{{ url_for('static', filename='lib/makisu/js/makisu.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/popper/popper.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='lib/morphtext/morphext.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/swiper/js/swiper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/magnific-popup/js/jquery.magnific-popup.js') }}"></script> 
  <script src="{{ url_for('static', filename='lib/validator/validator.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/zenith/zenith.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main1.js') }}"></script> 

  <script src="{{ url_for('static', filename='face/js/face-api.js') }}"></script>
  <script src="{{ url_for('static', filename='face/js/faceDetectionControls.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='face/css/face.css') }}">
  
  <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-storage.js"></script>
<script>

  //window.localStorage.setItem("name",'hello');

  window.watsonAssistantChatOptions = {
      integrationID: "9df44f77-fca9-437f-bd1d-414dcb3aac91", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "c3a8e04e-829f-4c10-a30e-de66ec3e2636", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });

  const firebaseConfig = {
  apiKey: "AIzaSyCefdOrNcLzNnG9ElQxHyN0WLSyr6LVdRg",
  authDomain: "alpha-f5ab1.firebaseapp.com",
  databaseURL: "https://alpha-f5ab1.firebaseio.com",
  projectId: "alpha-f5ab1",
  storageBucket: "alpha-f5ab1.appspot.com",
  messagingSenderId: "25260251432",
  appId: "1:25260251432:web:da9ec42da68af8f423581d",
  measurementId: "G-FR4KENVXVN"
};

firebase.initializeApp(firebaseConfig);

  const auth = firebase.auth();

function signout(){
  auth.signOut();
  window.open ('{{ url_for('home') }}','_self',false);
}

function delete_acc(){
 var user = auth.currentUser;
  user.delete().then(function() {
  window.open ('{{ url_for('home') }}','_self',false);
  }).catch(function(error) {
      alert(error.message);
  });
}

function cmd_test(){
  var objShell = new ActiveXObject("shell.application");
  objShell.ShellExecute("cmd.exe", "http-server", "C:\\Users\\nikhi\\Desktop\\nik\\Alpha\\web_test2\\Alpha 1\\Alpha 1\\templates\\modals\\face recognition", "open", 1);
}

auth.onAuthStateChanged(function(user) {
  if (user) {
  }
 else {
  window.open ('{{ url_for('home') }}','_self',false);
  }
});

  /* Dropdown */
   if ( $.fn.makisu.enabled ) {

            var $additional = $( '.additional' );
            var $image_process = $( '.image_process' );
            var $ml_models = $( '.ml_models' );

            // Create Makisus

            $image_process.makisu({
                selector: 'dd',
                overlap: 0.8,
                speed: 1.7
            });

            $ml_models.makisu({
                selector: 'dd',
                overlap: 0.6,
                speed: 0.85
            });

            $additional.makisu({
                selector: 'dd',
                overlap: 0.2,
                speed: 0.5
            });

            // Open all
            
            $( '.list' ).makisu( 'open' );

            // Toggle on click

              $( '#header1' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#use_btn' ).css('display','none');
                $( '#element-htext1' ).text('What is Image Recognition?');
                $( '#element-p1text1' ).text('Image recognition is the process of identifying and detecting an object or a feature in a digital image or video. This concept is used in many applications like systems for factory automation, toll booth monitoring, and security surveillance.');
                setTimeout(function(){$( '#list2' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);

            });

              $( '#header2' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#use_btn' ).css('display','none');
                $( '#element-htext2' ).text('What is ML Models?');
                $( '#element-p1text2' ).text('A machine learning model is a file that has been trained to recognize certain types of patterns. You train a model over a set of data, providing it an algorithm that it can use to reason over and learn from those data.');
                setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);
            });

               $( '#header3' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#use_btn' ).css('display','none');
                $( '#element-htext3' ).text('What is Additional Tools?');
                $( '#element-p1text3' ).text('There are several additional tools available like Air-Canvas, Picture to Potrait, Reference to Context, etc.');
                setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list2' ).css('display','none');}, 2100);
            });

             $( '#element-i1' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                setTimeout(function(){ $('#header1').text('Face Recognition');}, 2000);
                $( '#element-htext1' ).text('What is Face Recognition?');
                $( '#element-p1text1' ).text('Face recognition is a method of identifying or verifying the identity of an individual using their face. Use our Face recognition tool to identify people in photos, video, or in real-time.');
                $( '#use_btn1' ).attr("href","{{ url_for('face_recognition') }}")
                setTimeout(function(){$( '#list2' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);
            });

             $( '#element-i2' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext1' ).text('What is Object Detection?');
                $( '#element-p1text1' ).text('Object recognition is a computer vision technique for identifying objects in images or videos. Object recognition is a key output of deep learning and machine learning algorithms. Use our Object recognition tool to identify objects in photos, video, or in real-time.');
                $( '#use_btn1' ).attr("href","{{ url_for('object') }}")
                 setTimeout(function(){ $('#header1').text('Object Detection');}, 2000);
                 setTimeout(function(){$( '#list2' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);
            });

             $( '#element-i3' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext1' ).text('What is Age & Gender Detection?');
                $( '#element-p1text1' ).text('Age & Gender Detection is a method of identifying or verifying the identity of an individual using their face. Use our Face recognition tool to identify people and their age and gender from photos, video, or in real-time.');
                $( '#use_btn1' ).attr("href","{{ url_for('age_detection') }}")
                 setTimeout(function(){ $('#header1').text('Age & Gender Detection');}, 2000);
                 setTimeout(function(){$( '#list2' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);
            });

             $( '#element-i4' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext1' ).text('What is Expression Detection?');
                $( '#element-p1text1' ).text('Facial Expression Recognition is a method of classifying the expressions on face images into various categories such as anger, fear, surprise, sadness, happiness and so on. Use our Facial Expression Recognition tool to identify human expressions in photos or in real-time.');
                $( '#use_btn1' ).attr("href","{{ url_for('expression_detection') }}")
                 setTimeout(function(){ $('#header1').text('Expression Detection');}, 2000);
                 setTimeout(function(){$( '#list2' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);
            });

             $( '#element-i5' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext1' ).text('What is Image Styling?');
                $( '#element-p1text1' ).text('Image styling helps with making your images more funky and stylish.');
                $( '#use_btn1' ).attr("href","{{ url_for('styling') }}")
                 setTimeout(function(){ $('#header1').text('Image Styling');}, 2000);
                 setTimeout(function(){$( '#list2' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);
            });

             $( '#element-m1' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext2' ).text('What is Hands Up/Down?');
                $( '#element-p1text2' ).text('This tutorial shows how you can train machine learning models on Alpha with just a few clicks. Let’s teach your computer to recognize if your hand is up or down.');
                $( '#use_btn2' ).attr("href","{{ url_for('hands_up_down') }}")
                 setTimeout(function(){ $('#header2').text('Hands Up/Down');}, 2000);
                 setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);
            });

             $( '#element-m2' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext2' ).text('What is Sunglasses On/Off?');
                $( '#element-p1text2' ).text('This tutorial shows how you can train machine learning models on Alpha with just a few clicks. Let’s teach your computer to recognize if you are wearing Sunglasses or not.');
                $( '#use_btn2' ).attr("href","{{ url_for('sunglasses_on_off') }}")
                 setTimeout(function(){ $('#header2').text('Sunglasses On/Off');}, 2000);
                 setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);
            });


             $( '#element-m3' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext2' ).text('What is Model Training?');
                $( '#element-p1text2' ).text('Machine Learning is the science of getting computers to learn and act like humans do, and improve their learning over time in autonomous fashion, by feeding them data and information in the form of observations and real-world interactions.');
                $( '#use_btn2' ).attr("href","{{ url_for('model_training') }}")
                 setTimeout(function(){ $('#header2').text('Model Training');}, 2000);
                 setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);
            });

             $( '#element-m4' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext2' ).text('What is Model Testing?');
                $( '#element-p1text2' ).text('Build, train and deploy ML models easily using our comprehensive, flexible ecosystem of tools.');
                $( '#use_btn2' ).attr("href","{{ url_for('model_testing') }}")
                 setTimeout(function(){ $('#header2').text('Model Testing');}, 2000);
                 setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);
            });


             $( '#element-m5' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext2' ).text('What is Forums?');
                $( '#element-p1text2' ).text('Forum is a medium of open discussion or expression of ideas');
                $( '#use_btn2' ).attr("href","{{ url_for('forum') }}")
                setTimeout(function(){ $('#header2').text('Forum');}, 2000);
                setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list3' ).css('display','none');}, 2100);

            });

             $( '#element-a1' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext3' ).text('What is Air-Canvas?');
                $( '#element-p1text3' ).text('Our Air Canvas is a hands-free digital drawing canvas on which you can draw anything by just capturing the motion of a colored marker with a camera.');
                $( '#use_btn3' ).attr("href","{{ url_for('canvas') }}")
                 setTimeout(function(){ $('#header3').text('Air-Canvas');}, 2000);
                 setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list2' ).css('display','none');}, 2100);
            });

             $( '#element-a2' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext3' ).text('What is Reference to Context?');
                $( '#element-p1text3' ).text('You can use reference to context to help you understand a paragraph or a book better by asking it questions.');
                $( '#use_btn3' ).attr("href","{{ url_for('reference_to_context') }}")
                 setTimeout(function(){ $('#header3').text('Reference to Context');}, 2000);
                 setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list2' ).css('display','none');}, 2100);
            });

             $( '#element-a3' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext3' ).text('What is Face Unlock?');
                $( '#element-p1text3' ).text('Face Unlock is a technology capable of identifying or verifying a person from an image or a video.');
                $( '#use_btn3' ).attr("href","{{ url_for('face_unlock') }}")
               setTimeout(function(){ $('#header3').text('Face Unlock');}, 2000);
               setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list2' ).css('display','none');}, 2100);
            });

             $( '#element-a4' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext3' ).text('What is Learn & Code?');
                $( '#element-p1text3' ).text('Here we have tried explaining concepts in visual forms and it has tools which may come in handy to understand, train and implement ML concepts. We have also provided and explained  codes of models.');
                $( '#use_btn3' ).attr("href","{{ url_for('code_editor') }}")
               setTimeout(function(){ $('#header3').text('Learn & Code');}, 2000);
               setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list2' ).css('display','none');}, 2100);
            });


             $( '#element-a5' ).click(function() {
                $( '.list' ).makisu( 'toggle' );
                $( '#element-htext3' ).text('What is Picture to Potrait?');
                $( '#element-p1text3' ).text('Use our Picture to Potrait tool to convert your images to a painting like image in real time.');
                $( '#use_btn3' ).attr("href","{{ url_for('potrait') }}")
                setTimeout(function(){ $('#header3').text('Picture to Potrait');}, 2000);
                setTimeout(function(){$( '#list1' ).css('display','none');  $( '#list2' ).css('display','none');}, 2100);

            });

            $( '#close_info1' ).click(function() {
              $('#header1').text('Image Processing');
               setTimeout(function(){$( '#list2' ).css('display','block');  $( '#list3' ).css('display','block'); $( '.list' ).makisu( 'open' ); }, 400);
               $( '#use_btn' ).css('display','block');
            });

            $( '#close_info2' ).click(function() {
              $('#header2').text('ML Models');
               setTimeout(function(){$( '#list1' ).css('display','block');  $( '#list3' ).css('display','block'); $( '.list' ).makisu( 'open' ); }, 400);
               $( '#use_btn' ).css('display','block');
            });

            $( '#close_info3' ).click(function() {
              $('#header3').text('Additional tools');
               setTimeout(function(){$( '#list1' ).css('display','block');  $( '#list2' ).css('display','block'); $( '.list' ).makisu( 'open' ); }, 400);
               $( '#use_btn' ).css('display','block');
            });

            // Disable all links

            $( '.toggle2' ).click( function( event ) {
                event.preventDefault();
            });

        } else {

            $( '.warning' ).show();
        }
</script>
    <script>
    $('#default').zenith({
      layout: 'default' , 
      slideSpeed: 800, 
      autoplaySpeed: 2000
    });
  </script>

 {% endblock main_content %}
