
.center-content {
  display: flex;

}

.margin {
  margin: 0px;
  margin-bottom:60px;
}

#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;
}

#chatbox {
  height:auto;
  min-height:300px;
  width: 100%;
  margin: 30px;
  background-color: white;
}

.div-bot {
  display: flex;
  justify-content: center;
}

.botText {
  color: black;
  margin-top: 50px;
  font-family: monospace;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}


