{% extends "layout_applicant.html" %}
{% block content %}

  <section id="intro">
    <div class="page-hero-section bg-image hero-home-2" style="background-image: url({{ url_for('static', filename='img/background-1/bg_hero_1.svg') }}">
      <div class="hero-caption">
        <div class="container fg-white h-100">
          <div class="row align-items-center h-100">
            <div class="col-lg-6 wow fadeInUp">
              <!--<div class="badge badge-soft mb-2">#1 Web App in 2021</div>-->
              <h2>Interviewing <span class="test"> Web App for </span><span id="js-rotating">COMPANIES, STARTUP'S</span></h2>
                <p>Make your every hire count. Redirect your resources from sourcing and screening to evaluating and interviewing candidates. Our AI tools connects you to pre-verified candidates based on your requirements.</p>
                <a data-toggle="modal" href="" data-target="#form-recruiter" class="btn-get-started scrollto" style=" margin-bottom: 30px;">Post a Job</a>

            </div>
            <div class="col-lg-6 d-none d-lg-block wow zoomIn">
              <div class="img-place mobile-preview shadow floating-animate">
                <img src="{{ url_for('static', filename='img/background-1/app_showcase.svg') }}" alt="">
              </div>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" data-keyboard="false" data-backdrop="static" id="form-recruiter">
    <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content modal-popout-bg">
    <div class="modal-header" style="display:none"></div>
    <div class="modal-body">
        <button title="Close (Esc)" type="button" class="mfp-close x-button" style="color: #fff" data-dismiss="modal">×</button>
        <div class="col-lg-12">
          <form id="msform">
            <ul id="progressbar">
              <li class="active">Account Setup</li>
              <li>Social Profiles</li>
              <li>Personal Details</li>
            </ul>
          
            <fieldset>
              <h2 class="fs-title">Create your account</h2>
              <h3 class="fs-subtitle">This is step 1</h3>
              <input type="text" name="email" placeholder="Email" />
              <input type="password" name="pass" placeholder="Password" />
              <input type="password" name="cpass" placeholder="Confirm Password" />
              <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
          
            <fieldset>
              <h2 class="fs-title">Social Profiles</h2>
              <h3 class="fs-subtitle">Your presence on the social network</h3>
              <input type="text" name="twitter" placeholder="Twitter" />
              <input type="text" name="facebook" placeholder="Facebook" />
              <input type="text" name="gplus" placeholder="Google Plus" />
              <input type="button" name="previous" class="previous action-button" value="Previous" />
              <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
          
            <fieldset>
              <h2 class="fs-title">Personal Details</h2>
              <h3 class="fs-subtitle">We will never sell it</h3>
              <input type="text" name="fname" placeholder="First Name" />
              <input type="text" name="lname" placeholder="Last Name" />
              <input type="text" name="phone" placeholder="Phone" />
              <textarea name="address" placeholder="Address"></textarea>
              <input type="button" name="previous" class="previous action-button" value="Previous" />
              <input type="submit" name="submit" class="submit action-button" value="Submit" />
            </fieldset>
          
          </form>
        </div>
      </div> 
      <div class="modal-footer" style="display:none"></div>
    </div>
   </div>
  </div>



 {% endblock content %}