{% extends "layout_index.html" %}
{% block content %}

  <section id="intro">
    <div class="page-hero-section bg-image hero-home-2" style="background-image: url({{ url_for('static', filename='img/background-1/bg_hero_2.svg') }}">
      <div class="hero-caption">
        <div class="container fg-white h-100">
          <div class="row align-items-center h-100">
            <div class="col-lg-6 wow fadeInUp">
                <h2>Interviewing <span class="test"> Web App for </span><span id="js-rotating">COMPANIES, STARTUP'S</span></h2>
                <p>Make your every hire count. Redirect your resources from sourcing and screening to evaluating and interviewing candidates. Our AI tools connects you to pre-verified candidates based on your requirements.</p>
                <a href="#pricing-plans" class="btn-get-started scrollto" style=" margin-bottom: 30px;">Get Started</a>

            </div>
            <div class="col-lg-6 d-none d-lg-block wow zoomIn">
              <div class="img-place mobile-preview shadow floating-animate">
                <img src="{{ url_for('static', filename='img/background-1/app_showcase.svg') }}" alt="">
              </div>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 <section id="how_we_guarantee" style="margin-top:80px; margin-bottom: 50px">
  <div class="page-section no-scroll">
    <div class="container">

      <header class="section-header">
        <h3>How do we guarantee Ideal Candidates?</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 py-3 wow fadeInLeft">
              <div class="card card-body border-0 text-center shadow pt-5">
                <div class="svg-icon mx-auto mb-4">
                  <img src="{{ url_for('static', filename='img/background-1/payment.png') }}" alt="">
                </div>
                <h5 class="fg-gray">Connect with applicants</h5>
                <p class="fs-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptates esse.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
              <div class="card card-body border-0 text-center shadow pt-5">
                <div class="svg-icon mx-auto mb-4">
                  <img src="{{ url_for('static', filename='img/background-1/customizable.png') }}" alt="">
                </div>
                <h5 class="fg-gray">Evaluate Skills</h5>
                <p class="fs-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptates esse, sunt reprehenderit</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 py-3 wow fadeInRight">
              <div class="card card-body border-0 text-center shadow pt-5">
                <div class="svg-icon mx-auto mb-4">
                  <img src="{{ url_for('static', filename='img/background-1/concept.png') }}" alt="">
                </div>
                <h5 class="fg-gray">Shortlist with AI</h5>
                <p class="fs-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptates esse, sunt reprehenderit</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 </section>

  <section class="mini" id="work-process" s>
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1>Work Process</h1>
                        <p>Aenean nec tempor metus. Maecenas ligula dolor, commodo in imperdiet interdum, vehicula ut ex. Donec ante diam.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{{ url_for('static', filename='img/background-1/work-process-item-01.png') }}" alt=""></i>
                        <strong>Get Ideas</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{{ url_for('static', filename='img/background-1/work-process-item-01.png') }}" alt=""></i>
                        <strong>Sketch Up</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{{ url_for('static', filename='img/background-1/work-process-item-01.png') }}" alt=""></i>
                        <strong>Discuss</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{{ url_for('static', filename='img/background-1/work-process-item-01.png') }}" alt=""></i>
                        <strong>Revise</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{{ url_for('static', filename='img/background-1/work-process-item-01.png') }}" alt=""></i>
                        <strong>Approve</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="{{ url_for('static', filename='img/background-1/work-process-item-01.png') }}" alt=""></i>
                        <strong>Launch</strong>
                        <span>Godard pabst prism fam cliche.</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section colored" id="pricing-plans" style="margin-top:30px;">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="center-heading">
                  <h2 class="section-title">Pricing Plans</h2>
              </div>
          </div>
          <div class="offset-lg-3 col-lg-6" style="margin-top: -40px;">
              <div class="center-text">
                  <p>Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat.</p>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
              <div class="pricing-item">
                  <div class="pricing-header">
                      <h3 class="pricing-title">Starter</h3>
                  </div>
                  <div class="pricing-body">
                      <div class="price-wrapper">
                          <span class="currency">$</span>
                          <span class="price">14.50</span>
                          <span class="period">monthly</span>
                      </div>
                      <ul class="list">
                          <li class="active">60 GB space</li>
                          <li class="active">600 GB transfer</li>
                          <li class="active">Pro Design Panel</li>
                          <li>15-minute support</li>
                          <li>Unlimited Emails</li>
                          <li>24/7 Security</li>
                      </ul>
                  </div>
                  <div class="pricing-footer">
                      <a href="{{ url_for('register') }}" class="main-button">Purchase Now</a>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
              <div class="pricing-item active">
                  <div class="pricing-header">
                      <h3 class="pricing-title">Premium</h3>
                  </div>
                  <div class="pricing-body">
                      <div class="price-wrapper">
                          <span class="currency">$</span>
                          <span class="price">21.50</span>
                          <span class="period">monthly</span>
                      </div>
                      <ul class="list">
                          <li class="active">120 GB space</li>
                          <li class="active">1200 GB transfer</li>
                          <li class="active">Pro Design Panel</li>
                          <li class="active">15-minute support</li>
                          <li>Unlimited Emails</li>
                          <li>24/7 Security</li>
                      </ul>
                  </div>
                  <div class="pricing-footer">
                      <a href="{{ url_for('register') }}" class="main-button">Purchase Now</a>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
              <div class="pricing-item">
                  <div class="pricing-header">
                      <h3 class="pricing-title">Advanced</h3>
                  </div>
                  <div class="pricing-body">
                      <div class="price-wrapper">
                          <span class="currency">$</span>
                          <span class="price">42.00</span>
                          <span class="period">monthly</span>
                      </div>
                      <ul class="list">
                          <li class="active">250 GB space</li>
                          <li class="active">5000 GB transfer</li>
                          <li class="active">Pro Design Panel</li>
                          <li class="active">15-minute support</li>
                          <li class="active">Unlimited Emails</li>
                          <li class="active">24/7 Security</li>
                      </ul>
                  </div>
                  <div class="pricing-footer">
                      <a href="{{ url_for('register') }}" class="main-button">Purchase Now</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="clients" class="wow fadeInUp">
  <div class="container">

    <header class="section-header">
      <h3>Our Clients</h3>
    </header>

    <div class="owl-carousel clients-carousel">
      <img src="{{ url_for('static', filename='img/clients/client-1.png') }}" alt="">
      <img src="{{ url_for('static', filename='img/clients/client-2.png') }}" alt="">
      <img src="{{ url_for('static', filename='img/clients/client-3.png') }}" alt="">
      <img src="{{ url_for('static', filename='img/clients/client-4.png') }}" alt="">
      <img src="{{ url_for('static', filename='img/clients/client-5.png') }}" alt="">
      <img src="{{ url_for('static', filename='img/clients/client-6.png') }}" alt="">
      <img src="{{ url_for('static', filename='img/clients/client-7.png') }}" alt="">
      <img src="{{ url_for('static', filename='img/clients/client-8.png') }}" alt="">
    </div>

  </div>
</section>

<section id="contact">
     
  <div class="page-section">
    <div class="container">
      <div class="section-header wow fadeInUp" style="margin-top: 10px;">
        <h2>Need Help?</h2>
      </div>

      <div class="row">
        <div class="col-lg-7 py-3 mb-5 mb-lg-0">
          <div class="img-place w-lg-75 wow zoomIn">
            <img src="{{ url_for('static', filename='img/background-1/illustration_contact.svg') }}" alt="">
          </div>
        </div>
        <div class="col-lg-5 py-3">
          <h1 class="wow fadeInUp">Don't worry just contact us</h1>
  
          <form method="POST" class="mt-5">
            <div class="form-group wow fadeInUp">
              <label for="name" class="fw-medium fg-grey">Fullname</label>
              <input type="text" class="form-control" id="name">
            </div>
  
            <div class="form-group wow fadeInUp">
              <label for="email" class="fw-medium fg-grey">Email</label>
              <input type="text" class="form-control" id="email">
            </div>
  
            <div class="form-group wow fadeInUp">
              <label for="message" class="fw-medium fg-grey">Message</label>
              <textarea rows="6" class="form-control" id="message"></textarea>
            </div>
  
            <div class="form-group mt-4 wow fadeInUp">
              <a href="" class="main-button">Send Message</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    </section>

 {% endblock content %}