{% extends "layout/layout_employer.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section"  style="margin-top: 150px; margin-left: 100px; margin-right: 100px; margin-bottom: 100px;"> 
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.your_name }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <p class="article-content">{{ post.job_type }}</p>
            <p class="article-content">{{ post.no_of_openings }}</p>
            <p class="article-content">{{ post.job_profile }}</p>
            <p class="article-content">{{ post.date_posted }}</p>
            <p class="article-content">{{ post.job_stipend }}</p>
            <p class="article-content">{{ post.job_description }}</p>
            <p class="article-content">{{ post.skills_required}}</p>
            <p class="article-content">{{ post.job_experience }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
