{% extends "layout_index.html" %}
{% block content %}

<!--<link href="{{ url_for('static', filename='css/style_login.css') }}" rel="stylesheet">
 
<div class="login-section" >
    <img src="//my-assets.netlify.com/codepen/dailyui-001/img.png" alt="Citymap illustration" />
  <div class="headline">
    <h2 class="text-headline">Vino Blanco</h2>
    <h3 class="text-subheadline">The Restaurant Newsletter</h2>
  </div>
  <form>
    <span>
      <label for="username" class="text-small-uppercase">Username</label>
      <input class="text-body" id="username" name="username" type="text" required>
    </span>
    <span>
      <label for="email" class="text-small-uppercase">Email</label>
      <input class="text-body" id="email" name="email" type="email" required>
    </span>
    <span>
      <label for="city" class="text-small-uppercase">City</label>
      <input class="text-body" id="city" name="city" type="text" required>
    </span>
    <input class="text-small-uppercase" id="submit" type="submit" value="Subscribe now">
  </form>
  </div> -->

   <div class="content-section"  style="margin-top: 150px; margin-left: 100px; margin-right: 100px; margin-bottom: 100px;">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div> 
{% endblock content %}
